$footer-height: 25px;
$header-height: 45px;

$form-height-small: 138px;
$map-height-small: calc((100% - #{$form-height-small}) / 2);
$places-height-small: $map-height-small;

$form-height-medium: 69px;
$map-height-medium: calc((100% - #{$form-height-medium}) / 2);
$places-height-medium: $map-height-medium;
