@import '../utils/vars';

#form {
	line-height: 1.15;
	background-color: lavender;
	padding: .4rem;
	height: $form-height-small;
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 620px) {
		height: $form-height-medium;
	}

	.form-field {
		display: flex;
		height: 3.2rem;
		align-items: center;
		margin: .2rem auto;
		width: 100%;
		max-width: 41rem;

		@media screen and (min-width: 620px) {
			width: 50%;
		}

		label {
			font-size: 2rem;
			flex-basis: 100px;
		}

		input[type="text"], select {
			margin-left: 1rem;
			flex-grow: 1;
			font-size: 2rem;
			border: 0;
			padding: 0;
		}

		input[type="checkbox"] {
			height: 2.8rem;
			width: 2.8rem;
			margin: .4rem .4rem .4rem 1.4rem;
		}
	}

	input {
		width: auto;
	}
}